:root {
  --default: 30px;
  --default-height: 254px;
  --default-width: 480px;
}

* {
  font-family: "Afacad Flux";
  font-weight: 500;
  font-size: var(--default);
}

body {
  background-color: black;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 32px;
  height: 5vh;
  box-shadow: 0 10px 20px -10px #cccccc;
  z-index: 4;
  
}

header>div.title{
  align-self: center;
  justify-self: flex-start;
  margin: 16px;
}

button.submit{
  flex: 0;
}

input#text{
  justify-self: flex-end;
  width: 400px;
  margin: auto;

}

form{
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  gap: 16px;
}

main {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 51, 56);
  z-index: -2;
}

main>.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px
}



div.current{
    height: 300px;
    padding: 16px;
    
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(12, 8, 8, 0.74);
  font-weight: bold;
  position: relative;
  bottom: 250px;
  padding: 20px;
  text-align: center;
}

.card > .text {
    font-weight: 700;
}

.img {
    border: 10px solid white;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--default-width);
  height: var(--default-height);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.today{
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

div.today>*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 90px;
    background-color: rgba(12, 8, 8, 0.74);
    border: 1px solid white;
    padding: 16px;
    border-radius: 16px;
    font-size: 1rem;
    box-shadow: 0 10px 10px 0px #071116;
}

div.thisweek{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px;
    border-radius: 32px;
}

div.thisweek>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 1200px;
    background-color: rgba(12, 8, 8, 0.74);
    border: 3px solid white;
    padding: 16px;
    border-radius: 16px;
    font-size: 1rem;
}

div.thisweek>div>div{
  display: flex;
  width: 300px;
}

